@import "variable.styl"

body, html
  line-height: 1
  font-family: Avenir, Helvetica, Arial, sans-serifX
  user-select: none
  font-size: 14px
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text